PUBLIC_SANITY_PROJECT_ID="your-project-id"
PUBLIC_SANITY_DATASET="production"
PUBLIC_SANITY_API_VERSION="2026-05-27"
PUBLIC_SITE_URL="https://tahiti-guest-boat.com"
SANITY_STUDIO_NETLIFY_BUILD_HOOK_URL="https://api.netlify.com/build_hooks/your-hook-id"
